# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Virtual Environments
hotel_env/
hotel-backend-env/
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

data/
