# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Virtual Environments
wake-word-model-env/
wake_word_data/
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

data/
